body {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 77, 59);
    font-family: 'Roboto Condensed';
}

nav {
    height: 100%
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-left: 100px;
}

#nav-header {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nav-link-ul {
    visibility: hidden;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cafe-item-wrapper {
    height: 100px;
    width: 100px;
    padding: 5px;
    //padding-bottom: 9px;
    display:inline-block;
}

.cafe-item {
    font-family: 'Saira Condensed', ;
    font-weight:500;
    font-size: 14px;
    word-spacing: 100px;
    overflow-wrap: break-word;
    height: 100px;
    width: 100px;
    background-color: rgb(186, 162, 0);
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    //display:table-cell;
    display: inline-block;
    text-decoration: none;
    margin: auto 0;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    font-size: 14px;
    outline: inherit;
}

.cafe-item a {
    padding: 4em 0;
    display: block;
}

.cafe-item:hover {
    background-color: white;
    color:black;
}

.del{
    background-color: rgb(230, 157, 151);
}
.del:hover{
    background-color: rgb(214, 135, 129);
    color: rgb(153, 59, 50);
}

.add{
    font-size: 30px;
    font-weight: 200;
    cursor: default;
}

.add:hover{
    background-color: rgb(227,200,16);
}

.add-wrapper:hover{
    background-color: rgb(227,200,16);
}

.content-wrapper {
    position: relative;
    left: 300px;
    top: 30px;
    width: 500px;
}

input[type=text] {
  border: 1px solid white;
  outline: none;
  height: 25px;
  width: 80%;
  border-radius: 12px;
  color:black;
  margin-top:5px;
}

.add-form-wrapper {
    text-align: center;
    font-family: 'Saira Condensed', ;
    font-weight:500;
    font-size: 14px;
    height: 500px;
    width: 500px;
    margin-left: 100px;
    //background-color: rgb(47, 0, 186);
    background-color: rgb(108, 150, 117);
    border-radius:50%;
    color:white;
}

.add-form{
    margin: auto;
    position: relative;
    top: 100px;
    width: 80%;
}

#add-button{
    font-family: 'Saira Condensed', ;
    font-weight:500;
    font-size: 14px;
    overflow-wrap: break-word;
    height: 80px;
    width: 80px;
    background-color: rgb(227,200,16);
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    //display:table-cell;
    display: inline-block;
    text-decoration: none;
    margin: auto 0;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    font-size: 30px;
    outline: inherit;
}

#add-button:hover{
    background-color: white;
    color:black;
}

.cafe-wrapper{
    position: fixed;
    top: 40px;
    left: 825px;
    width: 305px;
    text-align: center;
}

iframe {
    border-radius: 20px;
}

.input-update{
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 280px;
    text-align: center;
    background-color: rgb(102, 61, 58);
    outline: none;
    color:white;
    }

#input-description{
    height: 200px;
    text-align: justify;
    padding: 6px;
    resize: none;
}

.form-button{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 280px;
    text-align: center;
    outline: none;
    color: white;
    cursor:pointer;
    margin: 5px
}

#update-button{
    background-color: rgb(115, 181, 92);
}

#delete-button{
    background-color: rgb(201, 64, 10);
}

#description-entry{

    height: 100px;
    width: 250px;
    border-radius:20px;
    color:black;
}

#name-entry{
    width: 240px;
}