body {
    font-family: 'Roboto Condensed';

}

nav {

    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;

}
#nav-header {
    display: inline;
    padding-left: 20%;
}
#nav-header-a {
    text-decoration: none;
    display: inline;
    color:black;
}

#nav-link-ul {
    list-style-type: none;
    display: inline;
    float: right;
    padding-right: 20%

}
.nav-link {
    text-decoration: none;
    display: inline;
    font-weight: 700;
    color: black;
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-search {
    display: inline-block;
    padding-left: 60px;
}

.cafe-item-wrapper {
    height: 200px;
    width: 60%;
    padding: 10px;
    margin: auto;
    font-size: 60px;

}

.add-item-wrapper {
    height: 60px;
    width: 60%;
    padding: 10px;
    margin: auto;
    font-size: 30px;

}

h2 {
    padding-left: 20%;
    }
.add-cafe-item {
   font-family: 'Saira Condensed', ;
    height: 60px;
    width: 100%;
    background-color: rgb(186, 162, 0);
    border-radius:50px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: auto 0;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}
.cafe-item {
   font-family: 'Saira Condensed', ;
    height: 200px;
    width: 100%;
    border-radius:50px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: auto 0;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.cafe-item:hover{
background-color: #D3D4D9;
color: black
}

.add-cafe-item:hover{
background-color: #D3D4D9;
color: black
}

input[type=text] {
   border: 1px solid black;
   outline: none;
   height: 25px;
   width: 200px;
   border-radius: 12px;
 }


.input-add{
   border: 1px solid black;
   outline: none;
   height: 25px;
   width:500px;
   border-radius: 12px;
 }

.origin-name{
font-weight: 600;
}


.cafe-wrapper{
width: 60%;
padding-left: 20%;
padding-right: 20%;
}



#map {
   height: 300px;
}

.input-update{
    border-radius:10px;
    padding: 6px;
    }

#input-description{

    width:650px;
    text-align: justify;
    padding: 6px;

}

#about{
padding-top: 20px;
width: 40%;
margin: auto;
font-weight: 600;
}
.form-label{
font-weight: 600;}


#description-entry{
    height: 100px;
    width: 250px;
    border-radius:20px;
    color:black;
}


input[type=submit] {
                     background-color: white;
                     color: black;
                     border: 1px solid black;
                     font-family : inherit;
                     padding-top: 20px;
                     padding-bottom: 20px;
                     padding-left: 30px;
                     padding-right: 30px;
                     display: inline;
                     font-size: 16px;
                     font-weight: 500;
                     border-radius: 8px;
                     margin: 20px;

                   }

.origin-checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
 }

 .edit-form {
 display: inline;}

 #update-button{
 margin-left: 35%;
 cursor: pointer;}

 .add-form {
 width: 55%;
 margin: auto;}

 #add-button{
 text-align: center;
 cursor: pointer;}
