<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content-wrapper">
    <h2>About</h2>
    <p id = "about">
        It's no secret that Kansas City holds great coffee. We serve everything from lattes with cream to single-origin pour-overs. In Kansas City, there is a cup for everyone.<br><br>
        But where is our coffee coming from? This site hopes to figure that out.<br><br>
        This is an attempt to make transparent the cafes, the suppliers, the farms, etc. It's the cafe's responsibility to make sure their coffee is ethically sourced from farms that benefit their communities. We hope to make the public aware if they do.<br><br>
        At this time our site is simple. It catalogs the known cafes in Kansas City, but we're looking to grow to do so much more. There are 200 cafes in KC and every one deserves individual attention. We want to be a core resource in identifying the areas that are least transparent in the coffee-to-cup logistic chain. By doing so, we can rest assured that the farmers putting their time and care into the product are supported for the long-term.<br><br>
        There's an adventure ahead of us, and it's unclear what the outcome will be. As long as there is coffee, everything will be fine.<br><br><br>

        Thanks for stopping by in early development,<br>
        Kaleb
    </p>
</div>
</body>
</html>