<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content-wrapper">
    <form class="add-form" action="add/cafe" method="post">
            <label class = "form-label">NAME:  <input name="name-entry" class="input-add" th:field="${cafe.name}"></label><br><br>
        <label class = "form-label">BIO:   <input name="description-entry" class="input-add" th:field="${cafe.description}"></label><br><br>
        <label class = "form-label" th:for="origins">ORIGINS SERVED:</label><br><br>
        <div class="origin-checkbox">
            <div th:each="origin : ${origins}">
                <label><input type="checkbox" name="originIds" th:value="${origin.id}"><span th:text="${origin.name}"></span></label>
            </div>
        </div>
        <div id="add-button">
            <input name="add-button" type="submit" value="&#65291">
        </div>
    </form>
</div>


</body>
</html>