<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:include="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="content-wrapper">
    <div class="cafe-item-wrapper" th:each="cafe : ${cafes}">
        <form th:action="@{/browse(cafeId=${cafe.getId()})}" method="post">
            <button class="cafe-item" type="submit" th:text="${cafe.getName().toUpperCase()}"></button>
        </form>
    </div>
</div><!--
--><div th:if="${cafe != null}" class="cafe-wrapper">
        <h2 th:text="${cafe.getName()}"></h2>
        <div th:text="${cafe.getLocation()}"></div><br>
        <iframe width="300" height="225" frameborder="0" style="border:0" th:src="@{https://www.google.com/maps/embed/v1/place(q=${cafe.getLocation()}, key='AIzaSyDJuU57bm106Je_8RI1za_saTmHklbrn_4')}" allowfullscreen></iframe>
        <p style="text-align:justify;" th:text="${cafe.getDescription()}"></p>
</div>



<!--    <div class="content-wrapper">-->
<!--    <div class="cafe-item-wrapper" th:each="cafe : ${cafes}">-->
<!--        <a class="cafe-item" th:href="@{/browse/cafe(q=${cafe.getId()})}" th:text="${cafe.getName().toUpperCase()}"></a>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>