<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:include="fragments :: head">
</head>
<nav th:replace="fragments :: navigation"></nav>
<div class="content-wrapper">
        <h2>Select Entry to Edit</h2>
        <div class="add-item-wrapper">
                <form th:action="@{/add}">
                        <button class="add-cafe-item" type="submit">ADD A CAFE</button>
                </form>
        </div>
        <div class="cafe-item-wrapper" th:each="cafe : ${cafes}">
                <form th:action="@{/edit/cafe(cafeId=${cafe.getId()})}" method="post">
                        <button class="cafe-item" type="submit" th:text="${cafe.getName().toUpperCase()}"></button>
                </form>
        </div>
</div>

</body>
</html>