<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:include="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="content-wrapper">
    <h2 th:text = "'Results for &quot;' + ${searchTerm} + '&quot;'"></h2>
    <div class="cafe-item-wrapper" th:each="cafe : ${cafeResults}">
        <form th:action="@{/cafe(cafeId=${cafe.getId()})}" method="post">
            <button class="cafe-item" type="submit" th:text="${cafe.getName().toUpperCase()}"></button>
        </form>
    </div>
</div>




</body>
</html>